[submodule "engine/vendor/glfw"]
	path = engine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/vendor/glew-cmake"]
	path = engine/vendor/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
